body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
.w-1 {
  width: 8.3333333333%;
}

.h-1 {
  height: 8.3333333333%;
}

.w-2 {
  width: 16.6666666667%;
}

.h-2 {
  height: 16.6666666667%;
}

.w-3 {
  width: 25%;
}

.h-3 {
  height: 25%;
}

.w-4 {
  width: 33.3333333333%;
}

.h-4 {
  height: 33.3333333333%;
}

.w-5 {
  width: 41.6666666667%;
}

.h-5 {
  height: 41.6666666667%;
}

.w-6 {
  width: 50%;
}

.h-6 {
  height: 50%;
}

.w-7 {
  width: 58.3333333333%;
}

.h-7 {
  height: 58.3333333333%;
}

.w-8 {
  width: 66.6666666667%;
}

.h-8 {
  height: 66.6666666667%;
}

.w-9 {
  width: 75%;
}

.h-9 {
  height: 75%;
}

.w-10 {
  width: 83.3333333333%;
}

.h-10 {
  height: 83.3333333333%;
}

.w-11 {
  width: 91.6666666667%;
}

.h-11 {
  height: 91.6666666667%;
}

.w-12 {
  width: 100%;
}

.h-12 {
  height: 100%;
}

.w-full {
  width: 100vw;
}

.h-full {
  height: 100vh;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 50px;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #292932;
}

.page-title {
  font-size: 96px;
  font-weight: 600;
  color: #fafafb;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
       -moz-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
       -moz-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0.01ms !important;
       -moz-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
  }
}